<p style="color: green"><%= notice %></p>

<%= render 'has_job', has_job: @has_job %>

<div>
  <%= link_to "Edit this 'has job'", edit_has_job_path(@has_job) %> |
  <%= link_to "Back to 'has jobs'", has_jobs_path %>

  <%= button_to "Destroy this 'has job'", has_job_path(@has_job), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
